
@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to CV-siten</h2>
<hr />

<div>
    <div>
        <h3>Selection of members</h3>

        <ul>
            @foreach (var item in ViewBag.Name)
            {
                <li>@item</li>



            }
        </ul>

        <h3>Selection of projects</h3>

        <ul>
            @foreach (var item in ViewBag.projectTitle)
            {
                <li>@item</li>

            }
        </ul>
    </div>

</div>














