@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h2>What would you like to do?</h2>
    <hr />
    @Html.ActionLink("Create a new project", "Create")
    <br>
    @Html.ActionLink("See available projects", "Index")
    <br />
}

